/* your css here */

footer {
    background-color: coral;
    color: white;
}

div.navbar-collapse {
    background-color: rgb(23, 192, 107);
}

a.navbar-brand {
    background-color:rgb(23, 192, 107);
    font-size: 2.0em;
}

body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}


p {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="."]
{
    color: white;
}